/.vscode/*
/.vs
/build*
/external
/figures
/out
/results
/tmp
/venv
/video
/instant-ngp
/*.dll
/*.exe
/*.json
*.ingp
*.msgpack
*.training
__pycache__
.DS_Store
imgui.ini
/instant_ngp_3dml/data/*
!.vscode/config.json