commentjson==0.9.0
imageio==2.19.5
matplotlib==3.5.1
numpy==1.24.3
opencv-python-headless==4.8.0.74
pybind11==2.11.1
pyquaternion==0.9.9
scipy==1.8.1
tqdm==4.65.0
setuptools==67.7.2
typing_extensions==4.7.1